<div class="container">
  <% if !session[:user_id] %>
  <div class="span glyphicon glyphicon-ok-circle" style="font-size: 4em; color: green;"></div>
  <div class="well">
    <h1>Welcome to our BEAUTIFUL BLOG</h1>
    <h4>Sign up to create a post</h4>
    <a href="/signup"><button class="btn btn-lg btn-success">
      Signup
    </button></a>
    <a href="/login"><button class="btn btn-lg btn-success">
      Login
    </button></a>
    <br/>
    <br/>
  </div>

  <% elsif  session[:user_id]%>
  <nav style="text-align: left;">
    <p>Logged in as <%= @user.username %></p>
    <a href="/logout"><button class="btn btn-sm btn-default">Logout</button></a>
  </nav>
  <hr />
  <div class="well">
    <h1>Blog Posts</h1>
    <span class="glyphicon glyphicon-cloud" style="font-size: 5em; color: blue;"></span>
  </div>
  <a href="/posts/new"><button class="btn btn-primary btn-lg">Create a post</button></a>
  <div class="blog-posts-wrapper" style="text-align: left;">

    <% @posts.each_with_index do |post, idx| %>
      <div class="post-wrapper">
        <h2>Post #<%= idx + 1 %> <%= post.title.titleize %></h2>
        <h4>Written by: <%= post.user.username %></h4>
        <p> <%= post.body %></p>
        <% if @user.id == post.user_id %>
          <a href="/posts/<%= post.id %>/edit"><button class="btn-success btn">Edit</button></a>
          <form action="/posts/<%= post.id %>" method="post">
            <div style="margin:0;padding:0">
              <input name="_method" type="hidden" value="delete" />
              <input type="submit" class="btn btn-default" value="Delete">
            </div>
          </form>

        <% end %>
        <hr />
        <% post.comments.each_with_index do |comment, index| %>
          <p class="comment" style="margin-left: 2em;"><b>Comment #<%= index + 1 %></b> <%= comment.body %></p>
          <p class="comment" style="margin-left: 2em; font-weight: bold;"> <%= comment.user.username %></p>
          <hr />
        <% end %>
      </div>
      <hr />
    <% end %>
  </div>
  <hr />
  <% end %>
</div>
